<!DOCTYPE html>
<html>

<head>
	<title>Data</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="./css/main.css"> 
	<script>
        // GET request on /visit and then parse JSON
        fetch("/visit").then(response => response.json()).then(value => {
            document.getElementById("countervalue").innerHTML = value;
        });
    </script>
</head>

<body>
	<div id="div1">
		<div>
			<p>User's Information</p>
		</div>
		<br>
		<div>
			<center>
				<table class="table table-hover text-center">
					<tr>
						<td>Comments </td>
						<td>User <%= name %> has logged in <span id="countervalue"></span> times.</td>
					</tr>
				</table>
			</center>
		</div>
		<div class="abc">
			<a href="/logout">Logout</a>
		</div>
	</div>
</body>

</html>
